 

  .App-logo {
  
    height: 40vmin;
    pointer-events: none;
  }
 

   
 
  .custom-modal {
  width: fit-content;
  padding: 1%;
  background-image: url("../Assets/logo.svg");
  position: absolute;
  width: 100vw;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-25%) !important;
  font-family: "Courier New", Courier;
  
}

.butz {
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-radius: 20%;
  border-style: solid;
  margin: 5px;
  box-shadow: 0px 3px 3px black;
}

.glow {
  background: tan;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: brown;
  border-radius: 20%;
  border-style: solid;
  margin: 5px;
  box-shadow: 0 10px 10px rgba(255, 200, 0, 0.5);
}
 
.wrapper {
  text-align: center;
}

.centered {
  display: inline-block;
}
.butz2 {
  background-color: silver;
  color: black;
  border: none;
  
  font-size: 16px;
  cursor: pointer;
  border-radius: 25%;
  margin: 0;
  
}

.wilf {
  height: 55px; 
  width: 110px;   
  background-image:url('../Assets/wilf.svg');
  background-repeat:no-repeat;
  background-position: center;
  cursor: pointer;
  
  margin: 0;
  
}


.picButton {
  background-color: silver;
  color: black;
  opacity: 0.5;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5%;
  margin: 0;
   
}

.profile-pics{
  width:25%;
   text-align: left;
   margin:5px;
   
  box-shadow:5px 2px 2px 1px rgba(0, 0, 255, .2);
   border-radius :95%}

   .tinyGreyScript{
     color:lightgray;
     font-size: 10px
   }

 